# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
logs
repo
assets
scripts
.jdk
*.sh
*.log
*.lock
*.old

# for now
.github

*.jar
# still allow gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.jar
